body{ background-color:#f6f4f5 }
header { background: #213451; }
.menuConteiner{position: relative; }
.logoTxt { pointer-events: none; color: #f6f4f5; font-family: 'Ubuntu', sans-serif; font-size: 25px; padding-top: 7px; padding-bottom: 7px; }
.menuFront > .navbar-collapse a.nav-link{color:#f6f4f5; transition: color 0.3s;font-size: 17px;}
a.nav-link:hover{color:#55efc4 !important}
@media (max-width: 335px){
    .logoTxt{font-size:23px}
}

@media (max-width: 576px){
    .logoTxt{text-align: center}
    .menuBtn{width: 100%}
}