body{ background-color:#f6f4f5 }
header { background: #213451;margin-bottom: 30px; }
.menuConteiner{position: relative; }
.logoTxt { color: #f6f4f5; font-family: 'Ubuntu', sans-serif; font-size: 25px; padding-top: 7px; padding-bottom: 7px; }
.logoTxt > a{color:  #FFF; text-decoration: none; transition: 0.3s}
.logoTxt > a:hover{color:#55efc4 !important}
.menuFront > .navbar-collapse a.nav-link{color:#f6f4f5; transition: color 0.3s;font-size: 17px;}
a.nav-link:hover{color:#55efc4 !important}
.mainContent img{transition: 0.3s}
.mainContent a:hover img{opacity: 0.5}
.mainContent a{color: #00b894; text-decoration: none; transition: 0.3s}
.mainContent a:hover{color:#a29bfe;}
@media (max-width: 335px){
    .logoTxt{font-size:23px}
}

@media (max-width: 576px){
    .logoTxt{text-align: center}
    .menuBtn{width: 100%}
}
