
    <header>
            <div class="container">
                    <div class="row">
                            <div class="col-sm-6 align-self-center text-center logo"><a href="/index.html" style="color: #FFF"><b>Mobly Front Git</b></a></div>
                            <div class="col-sm-6">
                                <nav class="navbar menuFront navbar-expand-lg navbar-dark">
                                    <button class="navbar-toggler menuBtn" type="button" data-toggle="collapse"
                                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                        aria-expanded="false" aria-label="Toggle navigation">Menu
                                    </button>
                                    <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
                                        <ul class="navbar-nav">
                                            <li class="nav-item">
                                                <a class="nav-link" href="{{site.baseurl}}/moblyFrontcontent/conferencia.html">Conferência</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="{{site.baseurl}}/moblyFrontcontent/newsletter.html">Newsletter</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="{{site.baseurl}}/moblyFrontcontent/ampscript.html">Ampscript</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="{{site.baseurl}}/moblyFrontcontent/scripts.html">Códigos</a>
                                            </li>
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Acesso Rápido
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                    <a class="dropdown-item" href="https://bob.mobly.com.br/cms"
                                                        target="__blank">Bob</a>
                                                    <a class="dropdown-item"
                                                        href="https://app.bugsnag.com/mobly/www-dot-mobly-dot-com-dot-br/errors?filters[event.since][0]=1d&filters[error.status][0]=open&sort=last_seen"
                                                        target="__blank">Bugsnag</a>
                                                    <a class="dropdown-item"
                                                        href="https://docs.google.com/spreadsheets/d/1Dovh_v-b6OyVy1B_GTvJOxKLLBYUav6FjdoD2OrMtII/edit#gid=22829735"
                                                        target="__blank">Cronograma</a>
                                                    <a class="dropdown-item"
                                                        href="https://favro.com/organization/18252bce90dbc16d2c29989c/125338c1734b413b9f57faea"
                                                        target="__blank">Favro</a>
                                                    <a class="dropdown-item"
                                                        href="https://insights.hotjar.com/sites/684448/dashboard"
                                                        target="__blank">Hotjar</a>
                                                    <a class="dropdown-item" href="https://www.mobly.com.br/"
                                                        target="__blank">Mobly</a>
                                                    <a class="dropdown-item" href="https://neemu.chaordic.com.br/central/"
                                                        target="__blank">Neemu</a>
                                                    <a class="dropdown-item" href="https://mc.s7.exacttarget.com/cloud/#app/"
                                                        target="__blank">Salesforce</a>
                                                    <a class="dropdown-item"
                                                        href="https://www.mobly.com.br/?showProfiling=11c1afd4e7159894293651005814a1e1"
                                                        target="__blank">Show Profiling</a>
                                                    <a class="dropdown-item" href="https://atendimento.mobly.com.br/wp-login.php"
                                                        target="__blank">WP Auto Atendimento</a>
            
                                                    <a class="dropdown-item" href="https://www.mobly.com.br/blog/wp-login.php"
                                                        target="__blank">WP Blog</a>
                                                        <a class="dropdown-item" href="http://blog-staging.mobly.com.br/wp-login.php"
                                                        target="__blank">WP Blog-Staging</a>
            
            
                                                </div>
                                            </li>
            
                                        </ul>
                                    </div>
                                </nav></div>
                        </div>
            </div>
          
        </header>